@media screen and (max-width: 1400px) {
 #profile{
  height: 83vh;
  margin-bottom: 6rem;
 }
 .about-containers{
  flex-wrap: wrap;
 }
 .mypicture{
  width: 200px;
  height:200px;
  border-radius: 60%;
  object-fit: cover;
}
.about-pic{
  height: 400px;
}
.project-img {
  border-radius: 1rem;
  width: 300px;       
  height: 400px;      
  object-fit: cover;   
  margin: 0 auto;
  display:block;
}
.arrow, .uparrow{
  position: absolute;
}

.company-logos-container {
  gap: 1rem;
}

.company-logo {
  width: 120px;
  height: 120px;
}

}



@media screen and (max-width: 1200px) {
    #desktop-nav {
        display: none;
    }
    #hamburger-nav {
        display: flex;
    }
    #experience, 
    .experience-details-container{
      margin-top: 1rem;
      

    }
    #profile, .section-container{
      display: block;
    }
    .arrow{
      display:inline;
    }
    section, 
    .section-container{
      height: fit-content;
    }
    section{
      margin: 0 5%;
    }
    .section__pic-container{
      width: 275px;
      height: 275px;
      margin: 0 auto 2rem;
    }
    .company-logos-container {
      gap: 1rem;
      width: 100%;
      max-width: 275px;
    }
    .company-logo {
      width: 100px;
      height: 100px;
      max-width: 120px;
    }
    .about-containers{
      margin-top: 0;
      width: 100%;
      max-width: 700px; 
      margin: 0 auto;
      display: flex;
      justify-content: center;
      gap: 2rem;
    }
    .about-pic{
      height: 300px;
    }
    .details-container {
      flex: 1 1 300px; 
      max-width: 340px; 
      min-width: 250px; 
    }
    .mypicture{
      width: 500px;
      height:300px;
      border-radius: 60%;
      object-fit: cover;
    }
    .project-img{
      border-radius: 0.5rem;
      width: 100%;       
      height: 400px;      
      object-fit: cover;   
      margin: 0 auto;
      display:block;
    }   
}

@media screen and (max-width: 600px) {
  #contact,footer{
    height: 40vh;
  }
  #profile{
    height: 83vh;
    margin-bottom:0;
  }
  article{
    font-size: 1rem;
  }
  footer nav{
    height: fit-content;
    margin-bottom: 2rem;

  }
  .about-containers, .contact-info-upper-container, .btn-container{
    flex-wrap: wrap;
  }
  .about-pic{
    height: 30vh;
    padding-bottom: 0.5rem;
    margin-bottom: 1.5rem;
  }
  .contact-info-container{
    margin: 0;

  }
  .contact-info-upper-container p, 
  .nav-links li a{
    font-size: 1rem;
  }
  .experience-sub-title{
    font-size: 1.25rem;
  }
  .logo{
    font-size: 1.5rem;
  }
  .nav-links{
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }
  .section__pic-container{
    width: auto;
    height: 46vw;
    justify-content: center;
  }
  .section__text__p2{
    font-size: 1.25rem;
  }
  .title{
    font-size: 2rem;
  }
  .text-container{
    text-align: center;
    padding-top: 1.5rem;
  }
  .mypicture{
    width: 200px;
    height:200px;
    border-radius: 60%;
    object-fit: cover;
  }

  .linkedin-icon{
    padding-left: 0.3rem;
  }

  .contact-icon{
    padding-right: 0.1rem;
  }

  .project-img {
    border-radius: 1rem;
    width: 100%;       
    height: 300px;      
    object-fit: cover;   
    margin: 0 auto;
    display:block;
  }
  .details-container{
    flex: 1 1 100%; 
    max-width: 90%; 
    min-width: 90%; 
  }
  
  .company-logos-container {
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    
  }
  
  .company-logo {
    width: 120px;
    height: 120px;
  }
  
}
